# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\rikdi\OneDrive\Documents\GitHub\MRP_G17_Tactile_sensing_with_artificial_skin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
